
<app-nav></app-nav>

<div class="row mb-5 mt-5 p-3">
    <div class="col-md-4 col-sm-12 offset-md-4 border">
        <form action="">
            <form class="mt-5 mb-5">
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail3">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword3">
                    </div>
                </div>
                <div class="text-center offset-md-3">
                    <button type="submit" class="btn btn-primary">
                        <a class="text-light text-decoration-none" routerLink="/"> Login</a>
                    </button>
                </div>
            </form>
        </form>
    </div>
</div>
